.bullseye {
  position: relative;
  width: 160px;
  height: 160px;
}
.ring {
  position: absolute;
  border-radius: 50%;
  border: 2px solid black;
}
.r1 {
  width: 160px;
  height: 160px;
  background: lightblue;
}
.r2 {
  width: 110px;
  height: 110px;
  background: white;
  left: 25px;
  top: 25px;
}
.r3 {
  width: 60px;
  height: 60px;
  background: blue;
  left: 50px;
  top: 50px;
}
