.circles {
  position: relative;
  width: 250px;
  height: 250px;
}
.circle {
  position: absolute;
  border-radius: 50%;
}
.c1 {
  width: 200px;
  height: 200px;
  background: lightpink;
  top: 0;
  left: 0;
}
.c2 {
  width: 150px;
  height: 150px;
  background: lightblue;
  bottom: 0;
  right: 0;
}
